*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


body{
    background-image: url(../img/fondo.png);
    background-size: cover;    
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 100vh;
}   