@import"general";
@import"grillas";
@import"header";
@import"footer";
@import"mixin";

/*index*/

.index_main {
    display: flex;
    grid-area:main;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .logo{
        grid-area: main;
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .6));
    }
}

/*Sobre nosotros*/

.container1{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .card{
        transition: transform .3s; 
        @include size-cards;
        border-radius: 30px 5px;
        overflow: hidden;
        margin: 20px 50px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: 0px 0px 8px 2px white;
        border: none;

        .card-body{
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: solid black 1px;
        }

        p{
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 700;
        }
        
        &:hover{
            transform: scale(1.2);
        }
    }

    .card2{
        transition: transform .3s; 
        width: 300px;
        height: 450px;

        
        &:hover{
            transform: scale(1.2);
        }
    }

    #card1 img{
        width: 250px;
        height: 220px;
        align-self: center;
        margin-top: 15px;
        border-radius: 30px 5px;
        margin-bottom: 20px;
    }
    
    #card2 img{
        width: 250px;
        height: 220px;
        align-self: center;
        margin-top: 15px;
        border-radius: 30px 5px;
        margin-bottom: 20px;
    }
}

/*trabajos*/

#container{
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.75);
    
    .gallery__container{
        .gallery__item{
            width: 100%;
            height: 100%;
            position: relative;
            box-shadow: 0px 0px 5px 3px black;
            .image{
                width: 100%;
                height: 100%;
                overflow: hidden;
                

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    transition: .5s ease-in-out;
                }
            }

            &:hover .image img{
                transform: scale(1.1);
            }
        }
    }
    .s-1{
        grid-column: span 2;
        grid-row: span 2;
        .gallery__item{
            .image{
                img{
                    object-position: 40% 50%;
                }
            }
        }
    }
    .s-2{
    
        .gallery__item{
            .image{
                img{
                    object-position: 50% 2%;
                }
            }
        }
    }
    .s-3{
        .gallery__item{
            .image{
                img{
                    object-position: 50% 35%;
                }
            }
        }
    }
    .s-4{
        grid-column: span 6;
        grid-row: span 2;

        .gallery__item{
            .image{
                img{
                    object-position: 80% 50%;
                }
            }
        }
    }
    .s-5{
        grid-column: span 6;
        grid-row: span 1;
        
        .gallery__item{
            .image{
                img{
                    object-position: 50% 60%;
                }
            }
        }
    }
    .s-6{
        grid-column: span 2;
        grid-row: span 2;
    }
    .s-7{
        grid-column: span 4;
        grid-row: span 2;
        .gallery__item{
            .image{
                img{
                    object-position: 50% 50%;
                }
            }
        }
    }
}

/*REDES*/

main{
    display: flex;
    justify-content: center;
    align-items: center;

    .logo2{
        grid-area: logo;
        display: flex;
        justify-self: center;
        align-self: center;
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .6));
        margin: 20px 5px;
    
        .logo_redes{
            position: relative;
            max-width: 100%;
            
        }
    }

    .container--redes{
        display: flex;
        grid-area: main;
        flex-direction: column;
        padding: 40px;
        background-color: rgba(255, 255, 255, 0.75);
        margin: 0px 15px 50px 15px;
    
        .redes{
            font-size: 180%;
            font-weight: 900;
            align-self: center;
            justify-self: center;
            text-align: center;
            color: rgb(0, 0, 0);
            

        }

        .redesLink {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 20px 0 20px 0;
            
            
        
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
        
                li {
                    display: flex;
                    width: 75px;
                    height: 75px;
                    line-height: 75px;
                    margin: 10px 15px;
                    cursor: pointer;
                    border-radius: 100%;
                    border: 5px solid #020202;
                    float: left;
                    transition: all 0.5s ease;
                    justify-content: center;
                    align-items: center;
                    
        
                    .bi-facebook{
                        color: rgb(0, 0, 0);
                        transition: all 0.5s ease;
                        font-size: 35px;
                    }
        
                    .bi-instagram{
                        font-size: 35px;
                        color: rgb(0, 0, 0);
                    }
                      
                    &:hover.facebook{
                        border: 5px solid #3b5998;
                        box-shadow: 0 0 15px #3b5998;
                        transition: all 0.5s ease;
                    }
        
                    &:hover .bi-facebook{
                        color: #3b5998;
                        text-shadow: 0 0 15px #3b5998;
                        transition: all 0.5s ease;
                    }
        
                    &:hover.instagram {
                        border: 5px solid #bc2a8d;
                        box-shadow: 0 0 15px #bc2a8d;
                        transition: all 0.5s ease;
                    }
                    
                    &:hover .bi-instagram {
                        color: #bc2a8d;
                        text-shadow: 0 0 15px #bc2a8d;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}

/*CONTACTO*/

.main_contacto{
    display: flex;
    grid-area: main;
    justify-content: center;
    align-items: center;
    height: 100%;    
    
    .container_form{
        display: flex;    
        flex-direction: column;
        max-width: 650px;
        width: 100%;
        background: white;
        padding: 25px 30px;
        border-radius: 20px;
        margin: 0px 40px;

        .titulo{
            font-size: 25px;
            font-weight: 500;
            position: relative;

            &::before{
                content: ' ';
                position: absolute;
                height: 3px;
                width: 30px;
                background: rgb(128, 150, 184);
                left: 0;
                bottom: 0;
            }
        }

        form{
            .user-details{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 20px 0 12px 0;
                flex-direction: column;
                align-content: center;

                .input-box {
                    
                    input{
                        height: 45px;
                        width: 100%;
                        outline: none;
                        border-radius: 5px;
                        border: solid 1px #ccc;
                        padding-left: 15px;
                        font-size: 16px;
                        border-bottom-width: 2px;
                        transition: all 0.3s ease;

                        &:focus,
                        .user-details .input-box input:valid{
                            border-color: rgb(128, 150, 184);
                        }

                        details{
                            font-weight: 500;
                            margin-bottom: 5px;
                            display: block;
                        }
                    }
                }

                
                .select-box{
                    margin: 10px 0;
                }

                .terminos{
                    margin: 10px 0;
                }

                .button{
                    height: 45px;
                    margin: 15px;
                    input{
                        height: 100%;
                        width: 100%;
                        outline: none;
                        background-color: rgb(128, 150, 184);
                        color: white;
                        border-radius: 10px;
                        font-size: 18px;
                        font-weight: 500;
                        border: none;
                        letter-spacing: 1px;
                        padding: 10px;

                        &:hover{
                            background-color: rgb(99, 132, 180);
                        }
                    }
                }

                
                select{
                    background-color: rgb(128, 150, 184);
                    color: white;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 500;
                    border: none;
                    letter-spacing: 1px;
                    padding: 5px;

                    
                    &:hover{
                        background-color: rgb(99, 132, 180);
                        
                    }
                }
            }  
        } 
    }
}